.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  background: white;
}

.logo {
  color: #6a1b9a;
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
}


.logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 70px;
  height: 60px;
  object-fit: contain;
}


.username {
  color: #6a1b9a;
  font-weight: 600;
}

.logout {
  color: crimson;
  font-weight: 600;
}

.logout:hover {
  text-decoration: underline;
}

.nav-links li:hover {
  color: #6a1b9a;
}
