body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.hero {
  display: flex;
  height: 85vh;
  background: linear-gradient(
      rgba(255, 192, 203, 0.7),
      rgba(255, 192, 203, 0.7)
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2P_Nit283KpVaiovJMPllsH3K1StjDN74yQ&s");
}

.hero-left {
  flex: 1;
  padding: 120px 80px;
}

.welcome {
  font-size: 20px;
  margin-bottom: 10px;
}

.hero-left h1 {
  font-size: 60px;
  color: #6a1b9a;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 14px 28px;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.btn.pink {
  background: #ec407a;
}

.btn.purple {
  background: #6a1b9a;
}

.hero-right {
  flex: 1;
}

.hero-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
